{{>layout/header}}
<div class="col-md-12">
    <h2>Keyword : {{keyword}}</h2>
    <!-- 목록 출력 -->
    <table id = "history">
        <thead class="thead-strong">
        <tr>
            <th>Url Address</th>
            <th>Visited Time</th>
            <th>Stayed Time</th>
            <th>Visited Count</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#history}}
            {{#urls}}
                <tr>
                    <td><a href="{{address}}">{{address}} </a></td>
                    <td>{{visitedTime}} </td>
                    <td>{{stayedTime}} </td>
                    <td>{{visitedCount}} </td>
                </tr>
            {{/urls}}
        {{/history}}
        </tbody>
    </table>

    <div class="dropdown" style=" float: left; width: 42%; padding:10px 10px 10px 0px;">
        <button class="dropbtn">Sort</button>
        <div class="dropdown-content">
            <a href="/log-detail?keyword={{keyword}}&name={{userName}}&page=1&type=recent">Last Visit Time</a>
            <a href="/log-detail?keyword={{keyword}}&name={{userName}}&page=1&type=visitCount">Visit Count</a>
            <a href="/log-detail?keyword={{keyword}}&name={{userName}}&page=1&type=staying">Stayed Time</a>
        </div>
    </div>
    <div class="pagination" style=" float: left; width: 25%; padding: 10px; text-align: right">
        <a href="#">&laquo;</a>
        <a href="#" class="active"> 1 </a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>

    <div class="text-input" style="float: left; width: 33%; padding:10px; text-align: right">
            <input type="text" id = "keyword" placeholder="Search..">
            <input type="hidden" id = "userName" value={{userName}}>
            <button type="button" class="btn btn-primary" id="btn-search">Search</button>
    </div>
</div>
{{>layout/footer}}
