{{>layout/header}}

<h1>View My Search History</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
<!--            {{#loginUserName}}-->
<!--                Logged in as: <span id="user">{{loginUserName}}</span>-->
<!--                <a href="/logout" class="btn btn-info active" role="button">-->
<!--                    Logout &lt;!&ndash; spring security 기본 logout url, 별도 컨트롤러 필요가 없다&ndash;&gt;-->
<!--                </a>-->
<!--            {{/loginUserName}}-->
<!--            {{^loginUserName}}-->
<!--                <a href="/oauth2/authorization/google"-->
<!--                   class="btn btn-success active" role="button">Google Login</a>-->
<!--                <a href="/oauth2/authorization/naver"-->
<!--                   class="btn btn-secondary active" role="button">Naver Login</a>-->
<!--            {{/loginUserName}}&lt;!&ndash; spring security 기본 login url, 별도 컨트롤러 x&ndash;&gt;-->
        </div>
    </div>
    <br>
    <!-- 목록 출력 -->
    <table class="table table-horizontal table-border">
        <thead class="thead-strong">
        <tr>
            <th>Keyword</th>
            <th>urls</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#historyList}} <!--post 리스트 순회-->
        <tr>
            <td>{{keyword}}</td>
            <td>
            {{#urls}}
                {{address}}<br>
            {{/urls}}
            </td>
        </tr>
        {{/historyList}}
        </tbody>
    </table>
</div>
{{>layout/footer}}
