{{>layout/header}}


<div class="col-md-12">
<h2>Hi, {{userName}}</h2>
    <!-- 목록 출력 -->
    <table id = "history">
        <thead class="thead-strong">
        <tr>
            <th>Keyword</th>
            <th>Number of URL</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#historyList}}
            <tr>
                <td><a href="/log-detail?name={{userName}}&keyword={{keyword}}&page=1&type=default">{{keyword}}</a></td>
                <td>{{urlCount}}</td>
            </tr>
        {{/historyList}}
        </tbody>
    </table>
    <div class="dropdown" style=" float: left; width: 42%; padding:10px 10px 10px 0px;">
    </div>
    <div class="pagination" style=" float: left; width: 25%; padding:10px; text-align: right">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>

    <div class="text-input" style="float: left; width: 33%; padding:10px; text-align: right">
        <input type="text" id = "keyword" placeholder="Search..">
        <input type="hidden" id = "userName" value={{userName}}>
        <button type="button" class="btn btn-primary" id="btn-search">Search</button>
    </div>
</div>

{{>layout/footer}}
